<%= form_for @user, url: "/session" do |f| %>
binding.pry
	
		<%= f.label :name, "Select your name" %><br>
		<%= f.collection_select(:name, User.all, :name, :name, {include_blank: "Please select your name"})%>
	
		<p>
		<%= f.label :password, "Your password:" %><br>
		<%= f.password_field :password, class: "form-control" %>
		</p>

	
		<%= f.submit 'Sign In' %>
 <% end %>
<% if @user.errors.any? %>
    	<ul class="Signup_Errors">
    		<% for message_error in @user.errors.full_messages %>
     	 	<li><%= message_error %></li>
    		<% end %>
	   	</ul>
	 

	<% end %>
	
	

