<%= form_for @user, url: "/session" do |f| %>

	
		<%= f.label :name, "Select your name" %><br>
		<%= f.collection_select(:id, User.all, :id, :name, {include_blank: "Please select your name"})%>
	
<!--login with userid and password OR with FB?? -->
	
		<%= f.label :password, "Your password:" %><br>
		<%= f.password_field :password, class: "form-control" %>
	

	<div class="actions">
		<%= f.submit 'Sign In' %>
	</div>

	<% end %>
	<% if @user.errors.any? %>
    	<ul class="Signup_Errors">
    		<% for message_error in @user.errors.full_messages %>
     	 	<li><%= message_error %></li>
    		<% end %>
	   	</ul>
	  <% end %>

