<h1><%= current_user.name %>'s Activities</h1>
<div id="happenings">
<table class="table">
	<thead>
		<tr>
			<th colspan="5"></th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td><strong>Name</strong></td>
			<td><strong>Cause</strong></td>
			<td><strong>Location</strong></td>
			<td><strong>Datetime</strong></td>
		</tr>

		<% @happenings.each do |happening| %>
		<tr>
			<td><%= link_to happening.event.name, happenings_path(happening) %></td>
			<td><%= happening.event.cause %></td>
			<td><%= happening.event.location %></td>
			<td><%= happening.event.datetime.strftime("%A, %B %d, %Y at %H:%M") %></td>			
		</tr>
	 <% end %>
	</tbody>
</table>
</div>
<br>
	<br>

<p><%= link_to "Create Event", new_event_path, class: "btn btn-primary" %> </p>

<p><%= link_to "Events", events_path, class: "btn btn-primary" %> </p>

<p><%= link_to "Back", 
 
 <!--#sort_by current: where('event.datetime >= ?',Time.now -->
