<%= form_for @event_users do |f| %>

<div class="field">
  	<%= f.label :RSVP %><br />
  	<%= f.label :RSVP, "Yes", :value => "true"  %>
  	<%= f.radio_button :RSVP, true, !!params[:RSVP] %>
  	<%= f.label :RSVP, "No", :value => "false" %>
  	<%= f.radio_button :RSVP, false, !!params[:RSVP] %>
</div>

<div class="field">
  	<%= f.label :need_ride %><br />
  	<%= f.label :need_ride, "Yes", :value => "true"  %>
  	<%= f.radio_button :need_ride, true, !!params[:need_ride] %>
  	<%= f.label :need_ride, "No", :value => "false" %>
  	<%= f.radio_button :need_ride, false, !!params[:need_ride] %>
</div>

<div class="field">
  	<%= f.label :can_drive %><br />
  	<%= f.label :can_drive, "Yes", :value => "true"  %>
  	<%= f.radio_button :can_drive, true, !!params[:can_drive] %>
  	<%= f.label :can_drive, "No", :value => "false" %>
  	<%= f.radio_button :can_drive, false, !!params[:can_drive] %>
</div>
	
	<% end %>