<%= render 'events/form' %>

	<% yield %>

<%= form_for @event_users do |f| %>

<div class="form-group">
	<%= f.label :datetime %><br>
	<%= f.date_field :datetime.strftime("%A, %B %d, %Y at %H:%M")%> <br>
</div>

<div class="form-group">
	<%= radio_button_tag(:need_ride, "ride") %>
	<%= label_tag(:need_ride, "I will need a ride to events") %><br>
	
	<%= radio_button_tag(:can_drive, "drive") %>
	<%= label_tag(:can_drive, "I can drive others to events") %></div>