<%= form_for :event_user, url: user_event_users_path do |f| %>

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :event_id %>

      <h2>I'll Attend</h2>
  <strong><%= f.label "I'll be there!" %></strong><br />
        <%= f.label :attend, "Yes", :value => "true"  %>
        <%= f.radio_button :attend, true %>
        <%= f.label :attend, "No", :value => "false" %>
        <%= f.radio_button :attend, false %>

        <h2>Car Pool</h2>
  <strong><%= f.label :need_ride %></strong><br />
        <%= f.label :need_ride, "Yes", :value => "true"  %>
        <%= f.radio_button :need_ride, true %>
        <%= f.label :need_ride, "No", :value => "false" %>
        <%= f.radio_button :need_ride, false %><p>
        </p>

  <strong><%= f.label :can_drive %></strong><br />
        <%= f.label :can_drive, "Yes", :value => "true"  %>
        <%= f.radio_button :can_drive, true %>
        <%= f.label :can_drive, "No", :value => "false" %>
        <%= f.radio_button :can_drive, false %>

        
      <br />
      <%= f.submit %><br />
<% end %>