<h1>Events Responses</h1>
<table class="table">
	<thead>
		<tr>
			<th colspan="5"></th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td><strong>Name</strong></td>
			<td><strong>Cause</strong></td>
			<td><strong>Location</strong></td>
			<td><strong>Datetime</strong></td>
			<td><strong>Organization</strong></td>		
		</tr>
<% @event_users.each do |event_user| %>
		<tr>
			<td><%= link_to event_users.event.name, event_path %></td>
			<td><%= event_user.event.cause %></td>
			<td><%= event_user.event.location %></td>
			<td><%= event_user.event.datetime.strftime("%A, %B %d, %Y at %H:%M") %></td>
			<td><%= event.organization.name %></td>
		</tr>
	 <% end %>
</tbody>
</table>
<br>
	<br>
	<br><%= link_to "Create Event", new_event_path, class: "btn btn-primary" %> <br>


 