<!--show user info here -->'
	<h3>Hello, <%= @user.name %>! </h3>
	<p><strong>Name:</strong> <%= @user.name %></p>
	<p><strong>Email:</strong> <%= @user.email %></p>
	<p><strong>Cell phone:</strong> <%= @user.cell_phone %></p>
	
	<p><%= link_to 'Edit', edit_user_path(@user) %></p>
	<p><%= link_to 'Events', events_path %></p>