<%= form_for @user, url: "/users/login" do |f| %>

	
		<%= f.label :name, "Your name" %><br>
		<%= f.collection_select(:id, @users, :id, :name, {include_blank: "Please select your name"})%>
	
			<%= f.submit "Sign In" %>
	
	<% end %>

<% if @user.errors.any? %>
    	<ul class="Signin_Errors">
    		<% for message_error in @user.errors.full_messages %>
     	 	<li><%= message_error %></li>
    		<% end %>
	   	</ul>