	<div class="theme-showcase" role="main">
	
	<div class="left-pic">
		<img src="http://www.buzzhunt.co.uk/wp-content/2012/02/20030319_fvdd.jpg" width="600">
	</div>

	<div class="right-info">
		<h1>Welcome to the Protest Clearinghouse</h1>
	</div>
		<p></p>
		<p>Facebook Users:</p>
		
		<% if session[:user_id] %>
	  		<h1><%= @user.name %></h1>
	  		<h2>Email: <%= @user.email %></h2>
	  		<h2>Facebook UID: <%= @user.uid %></h2>
	  		<img src="<%= @user.image %>">
		<% else %>
	  		<%= link_to('Log in with Facebook!', '/auth/facebook') %>
		<% end %>
	
	
		






