<%= form_for :event, url: events_path do |f| %>

	<%= f.label :name %><br>
	<%= f.text_field :name %> 
	<p>

	<%= f.label :cause %><br>
	<%= f.text_field :cause %> 
	</p>
	<p>
	<%= f.label :location %><br>
	<%= f.text_field :location %>
	</p>
	<p>
	<%= f.label :datetime %><br>
	<%= f.datetime_field :datetime.strftime("%A, %B %d, %Y at %H:%M") %>
	</p>

<% end %>
			

 