<%= form_for @event do |f| %>

	<%= f.label :name %><br>
	<%= f.text_field :name %> 
	<p>

	<%= f.label :cause %><br>
	<%= f.text_field :cause %> 
	</p>
	<p>
	<%= f.label :location %><br>
	<%= f.text_field :location %>
	</p>
	<p>
	<%= f.label :datetime %><br>
	<%= f.datetime_field :datetime %>
	</p>
	<% yield %>
	<%= render 'organizations/form' %>
	
	<%= f.submit %>

<% end %>
			

 