<%= form_for :events, url: events_path do |f| %>

<div class="form-group">
	<%= f.label :name %><br>
	<%= f.text_field :name, class: "form-control" %> </div>

<div class="form-group">
	<%= f.label :cause %><br>
	<%= f.text_field :cause, class: "form-control" %> </div>

<div class="form-group">
	<%= f.label :location %><br>
	<%= f.text_field :location, class: "form-control" %></div>

<div class="form-group">
	<%= f.label :datetime %><br>
	<%= f.datetime :datetime, event_users/datetime, class: "form-control" %></div>

	<!--yield to add datetime and organization -->

<div class="actions">
	<%= f.submit class: "btn btn-primary" %>
</div>

<% end %>
			

 