<%= form_for(@event) do |f| %>


<div class="form-group">
	<%= f.label :name %><br>
	<%= f.text_field :name, class: "form-control" %> </div>

<div class="form-group">
	<%= f.label :cause %><br>
	<%= f.text_field :cause, class: "form-control" %> </div>

<div class="form-group">
	<%= f.label :date %><br>
	<%= f.text_field :date, link_to event.event_datetime.strftime("%A, %B %d, %Y at %H:%M") class: "form-control" %></div>

<div class="form-group">
	<%= f.label :organization %><br>
	<%= f.text_field :organization, class: "form-control" %></div>

<div class="form-group">
	<%= f.label :venue %><br>
	<%= f.text_field :venue, class: "form-control" %></div>

<div class="actions">
	<%= f.submit class: "btn btn-primary" %>
</div>

<% end %>
			
			