<h1>Events update</h1>
<p>Have something to add? Correct? This is the place</p>

<%= form_for(:event, url: event_path, method: 'PUT') do |f| %>

	<%= f.label :name %><br>
	<%= f.text_field :name %> 
	<p>

	<%= f.label :cause %><br>
	<%= f.text_field :cause %> 
	</p>
	<p>
	<%= f.label :location %><br>
	<%= f.text_field :location %>
	</p>
	<p>
	<%= f.label :datetime %><br>
	<%= f.datetime_field :datetime %>
	</p>




<%= button_tag 'submit' %>
<% end %>