<h1>Events</h1>

<table class="table">
	<thead>
		<tr>
			<th colspan="5"></th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td><strong>Name</strong></td>
			<td><strong>Cause</strong></td>
			<td><strong>Location</strong></td>
			<td><strong>Datetime</strong></td>
			<td><strong>Organization</strong></td>		
		</tr>

		<% @events.each do |event| %>
		<tr>
			<td><%= link_to event.name, event_path(event) %></td>
			
			<td><%= event.cause %></td>
			<td><%= event.location %></td>
			<td><%= event.datetime.strftime("%A, %B %d, %Y at %H:%M") %></td>
			<td><%= event.organization.name %></td>
			
		</tr>
	 <% end %>
	</tbody>
</table>
	
<br>
	<br>
	<br><%= link_to "Create Event", new_event_path, class: "btn btn-primary" %> <br>



