<h1>Events</h1>
<!--we got problems here -->
<table class="table">
	<thead>
		<tr>
			<th colspan="5"></th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td><strong>Name</strong></td>
			<td><strong>Cause</strong></td>
			<td><strong>Location</strong></td>
			<td><strong>Date & Time</strong></td>
			<td><strong>Organization</strong></td>			
		</tr>
		<% @events.each do |event| %>
		<tr>
			<td><%= link_to event.name %></td>
			<td><%= event.cause %></td>
			<td><%= event.location %></td>
			<td><%= event_user.datetime %></td>
			<td><%= organization.name %></td>
			
			
<!-- I want to click on an event in this list and go to the show page where I can tell them whether I'll be there and if I need a ride or can drive. -->			
		<% end %>
		</tr>
		
	</tbody>
</table>
<br>
	<br><%= link_to "Edit Event", edit_organization_event_path(:id, :organization_id), class: "btn btn-primary" %><br>
	<br><%= link_to "Create Event", new_event_path, class: "btn btn-primary" %> <br>



