<h1>Event</h1>

		<p><%= @event.name %></p>
		<p><%= @event.cause %></p>
		<p><%= @event.location %></p>
		<p><%= @event.datetime %></p>
		<p><%= @event.organization.name %></p>
		<p><%= @event.organization.contact_info %></p>

	<%= link_to "RSVP/Car Pool", user_event_user_path, class: "btn-primary btn-light" %>
		
	<%= link_to "Back", events_path, class: "btn btn-primary btn-light" %>	
