<h1>Event</h1>

		<p><%= @event.name %></p>
		<p><%= @event.cause %></p>
		<p><%= @event.location %></p>
		<p><%= @event.datetime %></p>
		<p><%= @organization.name %></p>
		
	<%= link_to "Back", events_path, class: "btn btn-primary btn-light" %></p>	
