<h1>Event</h1>

		<p><%= @event.name %></p>
		<p><%= @event.cause %></p>
		<p><%= @event.location %></p>
		<p><%= @organization.name %></p>
		<p><%= @event_users.datetime %></p>
	
		<% yield %>
		<%= render 'event_users/_car_pool' %>
		
	<%= link_to "Back", events_path, class: "btn btn-primary btn-light" %></p>	
