<h1>Event</h1>

		<p><%= @event.name %></p>
		<p><%= @event.cause %></p>
		<p><%= @event.location %></p>
		<p><%= @event.datetime %></p>
		<p><%= @event.organization.name %></p>
		<p><%= @event.organization.contact_info %></p>

		<%= fields_for :event_user do |f| %>
			
			<h2>RSVP</h2>
	<strong><%= f.label "I'll be there!" %></strong><br />
		  	<%= f.label :RSVP, "Yes", :value => "true"  %>
		  	<%= f.radio_button :RSVP, true %>
		  	<%= f.label :RSVP, "No", :value => "false" %>
		  	<%= f.radio_button :RSVP, false %>

		    <h2>Car Pool</h2>
	<strong><%= f.label :need_ride %></strong><br />
		  	<%= f.label :need_ride, "Yes", :value => "true"  %>
		  	<%= f.radio_button :need_ride, true %>
		  	<%= f.label :need_ride, "No", :value => "false" %>
		  	<%= f.radio_button :need_ride, false %><p>
		  	</p>

	<strong><%= f.label :can_drive %></strong><br />
		  	<%= f.label :can_drive, "Yes", :value => "true"  %>
		  	<%= f.radio_button :can_drive, true %>
		  	<%= f.label :can_drive, "No", :value => "false" %>
		  	<%= f.radio_button :can_drive, false %>
						
			<br />
			<%= f.submit %><br />
<% end %>
	
	<br><%= link_to "Edit Event", edit_event_path(:id), class: "btn btn-primary" %>	

	<%= link_to "Back", events_path, class: "btn btn-primary btn-light" %>	
