<h1>Event</h1>

		<p><strong>Event name:</strong>
			<%= @event.name %></p>
		<p><strong>Cause: </strong>
			<%= @event.cause %></p>
		<p><strong>Location: </strong>
			<%= @event.location %></p>
		<p><strong>Day and time:</strong> 
			<%= @event.datetime.strftime("%A, %B %d, %Y at %H:%M") %></p>
		<p><strong>Sponsoring organization: </strong>
			<%= @event.organization.name %></p>
		<p><strong>Contact info: </strong>
			<%= link_to @event.organization.contact_info %></p>

		

<p><%= link_to "Will you join us? Do you need a ride?", new_event_happening_path(:id) %>
	</p>
 	

	<p><%= link_to "Edit Event", edit_event_path(@event) %></p>
	<br />

	<%= link_to "Back", events_path %>	
