<h1>Event</h1>

		<p><%= @event.name %></p>
		<p><%= @event.cause %></p>
		<p><%= @event.location %></p>
		<p><%= @event.datetime %></p>
		<p><%= @event.organization.name %></p>
		<p><%= @event.organization.contact_info %></p>

		
	
	<br><%= link_to "Edit Event", edit_event_path(:id), class: "btn btn-primary" %>	<br />

	<%= link_to "Back", events_path, class: "btn btn-primary btn-light" %>	
