<h1>Event</h1>

<!--this view should list event info. opportunity to sign up,indicate if ride is needed and can drive in car pool is on events index page. or event_users page. still sorting that out.
-->

<p id="notice"><%= notice %></p>

<div class="center">

	<div class="info">
		<p><strong>Name:</strong> <%= @event.name %></p>
		<p><strong>Cause:</strong> <%= @event.cause %></p>
		<p><strong>Date and time:</strong> <%= @event_user.datetime %> </p>
		<p><strong>Organization:</strong> <%= @organization.name %></p>
		
		<%yield%>
			
			<%= form_for(:event, method: 'post') do |f| %>
			<%= f.hidden_field :user_id, value: current_user.id %>
			<%= f.hidden_field :event_id, value: @event.id %>
			

		<% end %>
		<% end %>
	<%= link_to "Back", events_path, class: "btn btn-primary btn-light" %></p>	