<h1>Event</h1>

		<p><%= @event.name %></p>
		<p><%= @event.cause %></p>
		<p><%= @event.location %></p>
		<p><%= @event.datetime.strftime("%A, %B %d, %Y at %H:%M") %></p>
		<p><%= @event.organization.name %></p>
		<p><%= @event.organization.contact_info %></p>

		

<p><%= link_to "Will you join us? Do you need a ride?", new_user_happening_path(:id) %>
	</p>

<p>	<%= link_to "Edit Event", edit_event_path(@event) %></p>
	<br />

	<%= link_to "Back", events_path %>	
