<h1>Event</h1>

		<p><%= @event.name %></p>
		<p><%= @event.cause %></p>
		<p><%= @event.location %></p>
		<p><%= @event.datetime.strftime("%A, %B %d, %Y at %H:%M") %></p>
		<p><%= @event.organization.name %></p>
		<p><%= @event.organization.contact_info %></p>

		
	<%= link_to "Will you join us? Do. you need a ride?", user_event_users_path(:id) %>
	<br/>
	<%= link_to "Edit Event", edit_event_path(:id) %>	
	<br />

	<%= link_to "Back", events_path %>	
