<%= form_for(@organizations, url: organizations_path) do |f| %>

<div class="field">
	<%= f.label :name, "Select organization name" %><br>
	<%= f.collection_select(:id, @organization, :id, :name, {include_blank: "Please select or type in organization name"})%><br>

<div class="field">
	<%= f.label :contact_info, "Contact Info" %><br>
	<%= f.text_field :contact_info, "Enter contact info (URL, email) here" %>
	<p>
	</p>
	<%= f.submit "Submit" %>
	
<% end %>
			
	