<%= form_for :organizations, url: organizations_path do |f| %>

<div class="form-group">
	<%= f.label :name %><br>
	<%= f.text_field :name, class: "form-control" %> </div>

<div class="form-group">
	<%= f.label :contact_info %><br>
	<%= f.text_area :contact_info, class: "form-control" %> </div>
	<br>
	
	<%= f.submit "Submit" %>
	
<% end %>
			
	<!--typically would restrict creating new orgs to administrators but since this FB group is closed & members have to be approved by current administrators this isn't an issue. Certainly something to revisit in the future -->