<%= error_messages_for :project %>

<%= form_for @organization do |f| %>

<p>
	Name: <%= f.text_field :name %>
</p>

<div id="events">
		<%= render :partial => 'event', :collection => organization.events %>
	</div>
		<!--%= f.collection_select(:id, @organizations, :id, :name, {include_blank: "Please select the organization's name"})% -->
	
<p>
	<%= add_event_link "Add an event" %>
</p>
<p>
	<%= f.submit "Submit" %>
	</p>
<% end %>
			
	