<h1>Organizations</h1>
 
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact Info</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 
  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= organization.contact_info %></td>
        
        <td><%= link_to "Show", organization %></td>
        <td><%= link_to "Edit", edit_organization_path(organization) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
 
<br>
 
<%= link_to "New Organization", new_organization_path %>